<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
</head>
<body>
    <div class="background">
        <div class="top">
            <div class="miFoto"> <img src="WhatsApp Image 2021-01-19 at 16.41.19.jpeg" class="miFotoItself">
            </div>
        </div>
        <div class="mid">
            <div class="quienSoy">
                Llevo varios años dedicam¡ndome al sector del espectáculo y ahora estoy en un momento de renovación personal y laboral en el que me he propuesto superarme a mi mismo.
            </div>
        </div>
        <div class="bot"></div>
    </div>
</body>
</html>