
body{
    background-image: url(http://cdn30.us1.fansshare.com/image/wallpapergreen/tumblr-static-mint-background-wallpaper-mint-green-979721691.jpg);
}

.top{
    height: 33.33vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.mid{
    height: 33.33vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topMid{
    height: 10em;
}

.quienSoy{
    text-align: center;
    height: 10em;
    margin-left: 4em;
    margin-right: 4em;
}

.botMid{
    height: 10em;
}

.bot{
    height: 33.33vh;
    width: 100vw;
}


.sobreMiTexto{
    text-align: center;
    margin-top: 3em;
    text-shadow: 0.9em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.miFotoItself{
    height: 10em;
    width: 10em;
    justify-self: center;
    align-self: center;
    margin-left: vw;
    margin-top: 3em;
    border-radius: 2em;
}

@media (max-width: 375px){
    .miFotoItself{
        display: flex;
        justify-content: center;
        height: 6em;
        width: 6em;

    }
}

@media (max-width: 375px){
    .quienSoy{
        display: flex;
        justify-content: center;
        font-size: 0.5em;
    }
}

@media (max-width: 1024px){
    .quienSoy{
       font-size: 2em;

    }
}